<div class="modal fade" id="setPaymentTermModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form action="/set-PaymentTerm" method="POST">
                    <div>
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Đặt hạn thanh toán mới </h5>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <label>Hạn thanh toán mới</label>
                                        <input type="date" name="PaymentTerm">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                    <button type="submit" class="btn btn-primary ">Xác nhận</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>