<div class="modal fade" id="editApartmentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form action="/edit-Apartment" method="POST">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Sửa thông tin căn hộ</div>
                        </div>
                        <div class="card-body">
                            <input type="hidden" name="currentPage" value="<%= currentPage %>">
                            <input type="hidden" id="ID" name="ID">
                            <div class="form-group">
                                <label for="ApartID">Số căn hộ</label>
                                <input type="text" name="ApartID" id="ApartID" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Số người ở</label>
                                <input type="text" name="CitizenCount" id="CitizenCount" class="form-control">
                            </div>
                            <div class="form-group ">
                                <label for="Name">Tầng</label>
                                <input type="text" name="Floor" id="Floor" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Trạng thái</label>
                                <select class="form-control" name="Status" id="Status">
                                    <option>Đang sử dụng</option>
                                    <option>Không sử dụng</option>
                                    <option>Bảo trì</option>
                                </select>
                            </div>
                            <div class="form-group ">
                                <label for="Size">Diện tích</label>
                                <input type="text" name="Size" id="Size" class="form-control">
                            </div>
                        </div>
                        <div class="card-action">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                            <button type="submit" class="btn btn-primary">Xác nhận</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>