<div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form action="/delete-Contract" method="POST">
                    <input type="hidden" id="ID" name="ID" value="">
                    <div>
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Xoá hợp đồng</h5>
                                </div>
                                <div class="modal-body">
                                    Bạn có chắc chắn muốn xoá hợp đồng của <input style="border: none;" type="text"
                                        id="Owner" value="">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                    <button type="submit" class="btn btn-danger">Xác nhận</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>