<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>404 Not Found</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body,
        html {
            height: 100%;
        }

        .bg-404 {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f8f9fa;
        }

        .error-container {
            text-align: center;
        }

        .error-code {
            font-size: 100px;
            font-weight: 700;
            color: #343a40;
        }

        .error-message {
            font-size: 24px;
            color: #6c757d;
        }
    </style>
</head>

<body>

    <div class="container-fluid bg-404">
        <div class="error-container">
            <h1 class="error-code">404</h1>
            <p class="error-message">Có lỗi khi thao tác với dữ liệu !</p>
        </div>
    </div>

</body>

</html>