<div class="modal fade" id="createCitizenModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form action="/create-Citizen" method="POST">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Thêm mới cư dân</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="CitizenID">Mã cư dân</label>
                                <input type="text" name="CitizenID" class="form-control" required>
                            </div>
                            <div class="form-group"> <label for="ApartID">Số căn hộ</label>
                                <input type="text" name="ApartID" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Quan hệ</label>
                            <select class="form-control" name="Relationship">
                                <option>Chủ căn hộ</option>
                                <option>Thành viên căn hộ</option>
                            </select>
                        </div>
                        <div class="form-group ">
                            <label for="Name">Họ và tên</label>
                            <input type="text" name="Name" class="form-control" required>
                        </div>
                        <div class="form-group ">
                            <label for="BirthDay">Ngày sinh</label>
                            <input type="date" name="BirthDay" class="form-control" required>
                        </div>
                        <div class="form-check">
                            <label>GiớI tính</label><br />
                            <label class="form-radio-label">
                                <input class="form-radio-input" type="radio" name="Gender" value="Nam">
                                <span class="form-radio-sign">Nam</span>
                            </label>
                            <label class="form-radio-label ml-3">
                                <input class="form-radio-input" type="radio" name="Gender" value="Nữ">
                                <span class="form-radio-sign">Nữ</span>
                            </label>
                        </div>
                        <div class="form-group ">
                            <label for="Hometown">Quê quán</label>
                            <input type="text" name="Hometown" class="form-control" required>
                        </div>
                        <div class="form-group ">
                            <label for="Phone">Số điện thoại</label>
                            <input type="text" name="Phone" class="form-control" required>
                        </div>
                    </div>
                    <div class="card-action">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn btn-primary">Xác nhận</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>