<body>
    <div class="wrapper">
        <div class="main-header">
            <%- include('../layouts/indexCitizen.ejs') %>
                <div class="main-panel">
                    <div class="content">

                    </div>

                </div>
        </div>
    </div>
</body>
</body>

</html>