<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <!-- Bootstrap 4 CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card p-4 shadow-lg" style="width: 100%; max-width: 400px;">
            <h3 class="card-title text-center mb-4">Register</h3>
            <form action="/create-register" method="POST">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" id="username" name="Username" required>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" id="password" name="Password" required>
                </div>
                <input style="display:none" type="text" class="form-control" id="username" name="Role"
                    value="Người dùng" required>
                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </form>
            <p class="text-center mt-3">
                <a href="/login">Already have an account? Login here</a>
            </p>
        </div>
    </div>

</body>

</html>